Database__ConnectionString=Server=mysql_server;Database=database;User=user;Password=password;
Jwt__Key=strongJwtKey
Jwt__Issuer=BlvckAuth
Jwt__Audience=Blvckout
Admin__Username=admin
Admin__Password=strongPass