name: Docker - Build and Publish

on:
  workflow_run:
    workflows: ["Application - Build and Test"]
    types:
      - completed
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get repository name and short SHA
      run: |
        echo "REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d'/' -f2)" >> $GITHUB_ENV
        echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

    - name: Build the Docker image
      run: |
        cd src
        docker build . --tag $REPO_NAME:latest

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Tag Docker image
      run: |
        docker tag $REPO_NAME:latest ${{ secrets.DOCKER_HUB_USERNAME }}/$REPO_NAME:latest
        docker tag $REPO_NAME:latest ${{ secrets.DOCKER_HUB_USERNAME }}/$REPO_NAME:$SHORT_SHA

    - name: Push Docker images
      run: |
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/$REPO_NAME:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/$REPO_NAME:$SHORT_SHA
